.formacao {
    background: #ffffff;
    color: #141414;
}

.formacao-container {
    max-width: 1200px;
    padding: 40px 20px;;
    margin: 0 auto;
    display: grid;
    /* grid-template-columns: 1fr 2fr; */
    /* gap: 100px; */
    position: relative;
}

.formacao-container::after {
    content: '';
    display: block;
    width: 145px;
    height: 135px;
    background: url("../img/detalhe.svg");
    position: absolute;
    bottom: -75px;
    left: 20px;
}

.formacao .subtitulo {
    color: #545454;
    content: "";
    display: block;
    height: auto;
}

.formacao-texto {
    font-size: 1.5rem;
    line-height: 1.33;
    /* max-width: 60ch; */
    margin-bottom: 40px;
    color: #525252;
}

.formacao-texto strong {
    color: #141414;
}

.faculdade-lista {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 60px;
}

.faculdade {
    background: #f5f5f5;
    padding: 20px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
}

.faculdade-tipo {
    font-size: .875rem;
    text-transform: uppercase;
    color: #525252;
    margin-bottom: 10px;
}

.faculdade-curso {
    flex: 1;
    font-size: 1.125rem;
    line-height: 1.4;
    margin-bottom: 40px;
    position: relative;
}

.faculdade-curso::before {
    content: "";
    display: block;
    width: 4px;
    height: 20px;
    background: linear-gradient(#A1C4E5, #367DE8, #0044AB);
    position: absolute;
    left: -24px;
}

.faculdade-instituicao {
    font-size: 1.125rem;
    color: #525252;
}

.cursos {
    margin-bottom: 60px;
    color: #525252;
}

.formacao-extra h3 {
    font-size: 0.875rem;
    line-height: 1.4;
    color: #141414;
    text-transform: uppercase;
    margin-bottom: 30px;
    position: relative;
}

.formacao-extra h3::before {
    display: block;
    content: "";
    width: 24px;
    height: 24px;
    position: absolute;
    left: -36px;
    top: -4px;
}

.cursos h3::before {
    background: url("../img/cursos.svg") no-repeat center center;

}

.hardskills h3::before {
    background: url("../img/hardskills.svg") no-repeat center center;

}

.hardskills ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: auto;
    list-style-type: none;
    gap: 10px;
}

.hardskills ul li {
    margin-right: 10px;
    color: #525252
}

.formacao-extra li {
    font-size: 1.125rem;
    line-height: 1.1;
    margin-bottom: 20px;
}

.formacao-extra span {
    color: #141414;
}

.cursos li {
    display: flex;
    justify-content: space-between;
}

.cursos ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: auto;
    list-style-type: none;
    gap: 10px;
}

.cursos ul li {
    margin-right: 10px;
}

@media (max-width: 800px) {
    .formacao-container {
        grid-template-columns: 1fr;
        padding: 60px 20px;
        gap: 40px;
    }

    .formacao .subtitulo {
        color: #141414;
    }

    .formacao-texto {
        font-size: 1.25rem;
    }

    .formacao-extra h3::before {
        position: initial;
        margin-bottom: 10px;
    }
}