.trabalho {
    max-width: 1200px;
    padding: 40px 20px;
    margin: 0 auto;
    display: grid;
    /* grid-template-columns: 1fr 2fr; */
    /* gap: 100px; */
}

.trabalho .subtitulo {
    color: #545454;
    content: "";
    display: block;
    width: 1200px;
    height: auto;
    position: relative;
    top: 5px;
    left: 360px;
}

.projetos-texto {
    font-size: 1.5rem;
    line-height: 1.33;
    /* max-width: 60ch; */
    margin-bottom: 40px;
    color: #525252;
}

.projetos-texto strong {
    color: #141414;
}

.experiencia {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    background: #f5f5f5;
    margin-bottom: 20px;
    border-radius: 4px;
    position: relative;
    gap: 10px 20px;
}

.experiencia::before {
    content: '';
    display: block;
    width: 4px;
    height: 20px;
    background: linear-gradient(#A1C4E5, #367DE8, #0044AB);
    position: absolute;
    top: 20px;
    left: -4px;
}

.experiencia-ano {
    position: absolute;
    top: 20px;
    left: 170px;
    font-size: 1rem;
    text-align: end;
}

.experiencia-ano-ti{
    position: absolute;
    top: 20px;
    left: 190px;
    font-size: 1rem;
    text-align: end;
}

.experiencia-titulo {
    font-size: 1.125rem;
    line-height: 1.1;
    font-weight: bold;
}

.experiencia-texto {
    font-size: 0.875rem;
    color: #525252;
    line-height: 1.4;
}

.experiencia-habilidades {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-content: start;
}

.experiencia-habilidades li {
    font-size: 00.875rem;
    line-height: 1.4;
    border-radius: 4px;
    background: #ffffff;
    padding: 5px 10px;
}


@media (max-width: 800px) {
    .trabalho {
        grid-template-columns: 1fr;
        gap: 40px;
    }

    .trabalho .subtitulo {
        color: #141414;
    }

    .trabalho-texto {
        font-size: 1.25rem;
    }

    .experiencia-ano {
        position: initial;
        order: 1;
        width: initial;
        text-align: left;
    }
}

@media (max-width: 400px) {
    .experiencia {
        grid-template-columns: 1fr;
    }
}